body{ 
    background-color: #000028;
    width: 1024;
    height: 768;
}

@font-face {
    font-family: PlexMono-bold;
    src: url(./assest/IBMPlexMono-Bold.ttf);
    font-weight: 700;
}

@font-face{
    font-family: PlexMono-refular;
    src: url(./assest/IBMPlexMono-Regular.ttf) ;
    font-weight: 400;
}

.background {
    background-image: url(assest/cover-image-dark.png);
    width: 1024px;
    height: 768px;
    position: relative;
}

.theme-a {
    color: #FF0070;
    border: none;
    background: none;
    font-family: PlexMono-regular, sans-serif;
    letter-spacing: 1px; 
}

.theme-b {
    color: #FF0070;
    background: none;
    border: 1px solid #FF0070;
    letter-spacing: 1px;
}

.theme-p {
    color: #000028;
    font-family: PlexMono-bold;
    background-color: #FF0070;
    width: 492px;
    height: 71px;
    position: absolute;
    left: 532;
    right: 0;
    text-align: left;
}

.theme-sw {
    display: flex;
    justify-content: center;
}

.focus {
    color: #DB00FF;
    text-shadow: 4px 4px 0 #FF0070;
    font-family: PlexMono-bold;
    font-size:  150px;
}

div {
    box-shadow: #FF0070;
}

.lamp {
    font-family: PlexMono-regular, sans-serif;
    display: flex;
    justify-content: right;
    width: 52;
    height: 26;
    color: #FF0070;
}